entrypoint = "bot/index.js"
modules = ["nodejs-22"]
hidden = [".config", "bot/package-lock.json"]

[gitHubImport]
requiredFiles = [".replit", "replit.nix", "bot/package.json", "bot/package-lock.json"]

[nix]
channel = "stable-24_11"
packages = ["killall"]

[deployment]
run = ["node", "bot/index.js"]
deploymentTarget = "autoscale"
ignorePorts = false

[[ports]]
localPort = 3000
